main .about-layout , main .services-layout , .projects-layout , .contact-layout{
    width: 100%;
    height:70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.about-layout .about-title h2 , .services-layout .services-title h2 , .projects-layout h2 , .contact-layout h2{
    color: #fff;
    letter-spacing: 3px;
    font-weight: 500;
}
.body-arrow-container{
    width: 100%;
    /* height: 100%; */
    background-color: red;
    transition: all 0.5s;
    /* position: relative; */
}
.body-arrow-container:hover .page-body-arrow{
    margin-bottom: 16px;
}
.body-arrow-container .page-body-arrow{
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    transition: all 0.5s ease-in-out;
}
.body-arrow-container .page-body-arrow i.fa-arrow-down{
    transition: all 0.5s;
}
.body-arrow-container .page-body-arrow:hover{
    border-color: var(--highlight-color);
    margin-bottom: 16px;
}
.body-arrow-container .page-body-arrow:hover i.fa-arrow-down{
    color: var(--highlight-color);
    border-color: var(--highlight-color);
}

/* ABOUT BODY */
.about-body .about-content , .about-highlights{
    font-size: 19px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.about-body .about-content .about-history h3 , .about-body .about-content .about-evolution h3 , .about-highlights .values-card h3 , .about-highlights .vision-card h3 , .about-highlights .mission-card h3 , .about-certifications .certification-title h3, .about-parteners .parteners-title h3 , .services-cards-sec .service-content h3 , .single-project-container .single-project-card h3 , .contact-body .contact-intro h3{
    color: var(--highlight-color);
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    margin-bottom: 18px;
    line-height: 24px;
    opacity: 0.972444;
    transition: all 0.5s;
}
.about-body .about-content .about-history h3::after , .about-body .about-content .about-evolution h3::after , .about-highlights .values-card h3::after , .about-certifications .certification-title h3::after , .about-parteners .parteners-title h3::after , .services-cards-sec .service-content h3::after , .single-project-container .single-project-card h3::after , .contact-body .contact-intro h3::after{
    content: "";
    width: 100px;
    height: 1px;
    background-color: var(--highlight-color);
    margin-bottom: 0px;
}
.about-body .about-content .about-history h3:hover , .about-body .about-content .about-evolution h3:hover , .about-highlights .values-card h3:hover , .about-highlights .vision-card .vison-title h3:hover , .about-highlights .mission-card .mission-title h3:hover , .about-certifications .certification-title h3:hover ,  .about-parteners .parteners-title h3:hover , .services-cards-sec .service-content h3:hover , .single-project-container .single-project-card h3:hover , .contact-body .contact-intro h3:hover{
    text-shadow: 1px 1px 1px var(--highlight-color);
    transform: skew(-15deg);
}
.about-body .about-content p , .about-highlights .values-card p , .services-intro p{
    font-size: 19px;
    color: var(--paragraph-color);
    padding-top: 10px;
    line-height: 1.3em;
    overflow: hidden;
}
.about-body .about-content ul li{
    color: #272727;
    margin-left: 18px;
    line-height: 1.3em;
    transition: all 0.5s;
}
.about-body .about-content ul li:hover{
    color: var(--logo-color);
    text-shadow: 1px 1px 1px #0063c6db;
    transform: scale(1.1,1.1);
    padding: 14px 0;
    padding-left: 10px;
}
.about-body .about-content .about-img{
    width: 100%;
    height: 100%;
    position: relative;
}
.about-body .about-content .about-img img{
    width: 100%;
    height: 100%;
    opacity: .2;
    padding-bottom: 16px;
}
.about-body .about-content .about-img .about-img-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-body .about-img p{
    color: #272727;
    line-height: 1.6em;
    font-size: 28px;
}
.about-body .about-img i{
    font-size: 32px;
    color: rgb(112, 111, 111);
    padding: 40px 0;
}
.about-highlights .vision-card , .about-highlights .mission-card{
    background-color: var(--paragraph-color);
    height: 100%;
    box-shadow: 1px 1px 1px 1px var(--paragraph-color);
}
.about-highlights .vision-card .vison-title , .about-highlights .mission-card .mission-title{
    background-color: var(--logo-color);
    background-color: #fff;
    box-shadow: 1px 1px 7px 1px var(--paragraph-color);
    text-align: center;
    padding: 18px 0;
}
.about-highlights .vision-card p , .about-highlights .mission-card p{
    color: #fff;
    padding: 12px;
    letter-spacing: 1px;
    line-height: 1.3em;   
    height: 100%;
    margin: 0;
}
/* ABOUT-CERTIFICATIONS SECTION STYLE */
.about-certifications .certificate-card{
    border: 2px solid var(--logo-color);
    box-shadow: 0 0 1px 0 var(--logo-color);
    border: 2px solid #042548;
    box-shadow: 0 0 1px 0 #042548;
}
.about-certifications .certificate-card .certificate-name{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
    background-color: var(--logo-color);
    color: #fff;
    font-size: 1.5rem;
}
.about-certifications .certificate-card .certificate-name span{
    transition: all 0.5s ease-in-out;
}
.about-certifications .certificate-card .certificate-name:hover span{
    transform: translateY(-4px);
    text-shadow: 0 0 2px #fff;
}
.about-certifications .certificate-card img{
    width: 100%;
    height: 100%;
}
/* ABOUT-PARTENERS SECTION STYLE */
.about-parteners .swiper{
    width: 100%;
}
.about-parteners .swiper .swiper-wrapper .swiper-slide{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-parteners .swiper .swiper-wrapper .swiper-slide:nth-of-type(1) , .about-parteners .swiper .swiper-wrapper .swiper-slide:nth-of-type(2){
    width: 100%;
}
.about-parteners .swiper .swiper-wrapper .swiper-slide .logo-card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    text-align: center;
}
.about-parteners .swiper .swiper-wrapper .swiper-slide .logo-card img{
    width: 200px;
    height: 200px;
}

/* **************************************** */

/* SERVICES-PAGE STLES */
.services-cards-sec .service-content{
    position: relative;
    overflow: hidden;
    /* width: 100%;
    height: 100%; */
    /* background-color: #b1c95b; */
}
.services-cards-sec .service-content .img-1{
    overflow: hidden;
    position: absolute;
    padding: 5px;
    padding-left: 0;
    background-color: green;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
}
.services-cards-sec .service-content .img-2{
    background-color: red;
    overflow: hidden;
    /* position: absolute;
    bottom: 0;
    right: 0;
    left: 50%;
    top: 50%; */
    padding: 5px;
    padding-right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.services-cards-sec .service-content .img-1 img{
    position: absolute;
    left: 0;
    top: 0;
    right: 50%;
    bottom: 50%;
    text-align: center;
}
.services-cards-sec .service-content .service-img img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    text-shadow: 15px 15px 15px #000;
}
.services-cards-sec .service-content p{
    font-size: 1.1em;
    line-height: 1.3em;
}
.services-cards-sec .service-content ul{
    margin: 0;
}
.services-cards-sec .service-content ul li{
    font-size: 16px;
    line-height: 1.1em;
    padding-bottom: 14px;
    transition: all 0.5s;
}
.services-cards-sec .service-content ul li i{
    color: var(--highlight-color);
    padding-right: 2px;
}
.services-cards-sec .service-content ul li:hover{
    transform: translateX(10px);
    text-shadow: 1px 1px 1px;
}

/* SINGLE-PROJECT-STYLE */
/* .single-project-container .single-project-card h4{
    font-size: ;
} */
.single-project-container .single-project-card .project-info div:first-of-type i{
    color: rgb(200, 82, 101);
    font-size: 21px;
}
.single-project-container .single-project-card .project-info div:nth-of-type(2) i{
    color: rgba(54, 125, 144, 0.797);
    font-size: 21px;
}
.single-project-container .single-project-card .project-info div:nth-of-type(3) i{
    color: rgb(86, 87, 65);
    font-size: 21px;
}
.single-project-container .single-project-card .project-info div:nth-of-type(3) span{
    line-height: 1.8em;
}
.single-project-container .single-project-card .main-project-img{
    width: 100%;
    height: 20% !important;
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 16.67%, rgba(0, 0, 0, .46) 49.59%, rgba(0, 0, 0, .7) 82.54%); */
    /* aspect-ratio: 10/6; */
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s;
}
.single-project-container .single-project-card .main-project-img img{
    width: 100%;
    height: 100% !important;
    transition: all 0.5s;
}
.single-project-container .single-project-card .main-project-img:hover img{
    transform: scale(1.1,1.1);
}
.single-project-container .single-project-card .project-imgs-container .single-img{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
}
.single-project-container .single-project-card .project-imgs-container .single-img .img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.1); */
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 16.67%, rgba(0, 0, 0, .46) 49.59%, rgba(0, 0, 0, .7) 82.54%);

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 16.67%, rgba(0, 0, 0, .26) 49.59%, rgba(0, 0, 0, .1) 62.54%);

   background: linear-gradient(180deg, rgba(0, 0, 0, 0) 16.67%, rgba(0, 0, 0, .46) 49.59%, rgba(0, 0, 0, .4) 82.54%); */

   cursor: pointer;
   transition: all 0.5s;
}
.single-project-container .single-project-card .project-imgs-container .single-img .img-overlay:hover{
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 16.67%, rgba(0, 0, 0, .46) 49.59%, rgba(0, 0, 0, .7) 82.54%);
}
.single-project-container .single-project-card .project-imgs-container .single-img img{
    width: 100%;
    height: 180px !important;
    transition: all 0.5s;
}
/* HANDLE IMGS-SLIDER FOR EACH PROJECT IMG */
.img-slider-overlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}
.img-slider-overlay .slider-content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.img-slider-overlay .slider-content img{
    width: 80%;
    height: 80%;
    border-radius: 6px;
    transition: all 0.5s ease;
}
.img-slider-overlay .slider-content .close-btn{
    position: absolute;
    right: 38px;
    top: 32px;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 0.5s;
}
.img-slider-overlay .slider-content .close-btn:hover{
    color: rgba(167, 41, 41, 0.887);
    transform: rotate3d(0,0,0);
    transform: rotate(180deg);
}
.img-slider-overlay .slider-content .prev-btn, .img-slider-overlay .slider-content .next-btn{
    position: absolute;
    bottom: 2%;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.5s;
}
.img-slider-overlay .slider-content .prev-btn{
    left: 46%;
    margin-right: 14px;
}
.img-slider-overlay .slider-content .next-btn{
    right: 46%; 
    margin-left: 14px;
}
.img-slider-overlay .slider-content .prev-btn:hover, .img-slider-overlay .slider-content .next-btn:hover{
    color: rgb(200, 197, 197);
}


/* CONTACT PAGE */
.contact-body .contact-intro h3{
    color: var(--highlight-color);
}
.contact-body .form-title , .contact-body .contact-semiTitle{
    padding-bottom: 28px;
}
.contact-body .form-title h3{
    color: #000000;
    text-shadow: 0 0 1px #000;
    font-weight: 400;
}
.contact-body .form-title p{
    color: var(--paragraph-color);
}
.contact-body form label , .contact-body .contact-info h3{
    color: #000;
    margin-bottom: 12px;
}
.contact-body form input , textarea{
    margin-top: 7px;
    border-radius: 3px;
    padding: 14px ;
}
.contact-body form input:focus , .contact-body form textarea:focus{
    border-color: var(--paragraph-color);
    box-shadow: 0px 0px 4px 4px var(--paragraph-color);
}
.contact-body form .uploadFile-div, .contact-body form .uploadFile-div label{
    font-size: 1.3rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s;
}
.contact-body form .uploadFile-div label:hover{
    color: var(--highlight-color);
}
.contact-body form button{
    border: none;
    background-color: transparent;
}
.contact-body form .cta{
    margin-right: 0;
}
.contact-body .contact-info .contact-info-text{
    margin-bottom: 34px;
}
.contact-body .contact-info .contact-item i{
    font-size: 24px;
    padding-right: 12px;
}
.contact-body .contact-info .contact-item:nth-of-type(2) i{
    color: #9bd0e0;
}
.contact-body .contact-info .contact-item:nth-of-type(3) i{
    color: rgb(173, 201, 234);
}
.contact-body .contact-info .contact-item:nth-of-type(4) i{
    color: rgb(101, 125, 155);
}
.contact-body .contact-info .contact-item{
    display: flex;
    margin-bottom: 28px;
}
.contact-body .contact-info .contact-item p , .contact-item:nth-of-type(4) a{
    font-size: 18px;
    line-height: 1.6rem;
    letter-spacing: 1px;
    padding-bottom: 0;
    margin-bottom: 0;
    transition: all 0.5s;
}
.contact-body .contact-info .contact-item:nth-of-type(3) .contact-text{
    display: flex;
}
.contact-body .contact-info .contact-item:nth-of-type(3) .contact-text p:nth-child(1){
    padding-right: 38px;
}
.contact-body .contact-info .contact-item:nth-of-type(4) a{
    color: var(--paragraph-color);
    display: block;
    transition: all 0.5s;
} 
.contact-body .contact-info .contact-item:nth-of-type(4) p{
    cursor: pointer;
}
.contact-body .contact-info .contact-item p:hover{
    text-shadow: 0 0 2px var(--paragraph-color);
}
.contact-body .contact-info .contact-item:nth-of-type(4) a:hover{
    color: var(--highlight-color);
    transform: translateY(-6px);
}
.contact-page{
    position: relative;
}
.contact-page .form-confirmation {
    opacity: 0;
}
.contact-page .form-confirmation .confirmation-container{
    padding: 50px;
    width: 30%;
    height: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--logo-color);
    color: #fff;
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, .46);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
}
.contact-page .form-confirmation .confirmation-container i.fa-xmark{
    top: 20px;
    left: 20px;
    color: rgba(167, 41, 41, 0.887);
}
.form-confirmation .confirmation-container h4{
    font-size: 1.4em;
}
.form-confirmation .confirmation-container i{
    padding-left: 8px;
    font-size: 2.1em;
}
.form-confirmation .confirmation-container i.fa-check{
    color: green;
    text-shadow: 0 0 14px green;
}
.form-confirmation .confirmation-container i.fa-xmark{
    color: red;
    text-shadow: 0 0 14px red;
}